 
@{
    ViewData["Title"] = "Home";
}

<div class="text-center mt-5" class="home-text">
    <h2>Welcome To Our Airplane!</h2>
    <p>
        Explore our database of airlines, aircrafts, employees, and more.
    </p>
    <p>
        Use the navigation menu above to get started.
    </p>
</div>